@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Righteous);
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
/* font-family: 'Playfair Display', serif; */
/* font-family: 'Noto Sans KR', sans-serif; */
/* font-family: 'Archivo Black', sans-serif; */

html {
    overflow-x: hidden;  
}

body {
    font: 12px/1.6 arial;
    color: #111;
    font-family: 'Noto Sans KR', sans-serif;
}
.row {
    max-width: 1750px;
    margin:0 auto;
}

/* 로고 */
h1 {
    position: fixed;
    top:30px;
    left: 20px;
    z-index: 99;
    width: 100px;
    height: 100px;
    background: url(../img/logo1.png) no-repeat;
}

h1.on {
    background: url(../img/logo.png) no-repeat;
}
    
#nav {
    position: fixed;
    top:0;
    left: -4px;
    height: 100vh;
    width: 90px;
    background-color:transparent;
    z-index: 999;
    border-right: 1px solid #dfdfdf;
    font-weight: normal
}

/* 햄버거 메뉴 */
#nav .open {
    position:fixed; top:50%; left:20px; 
    transform: translateY(-50%);
    z-index:999;  
    width:50px; height:50px;
    text-align: center;
    cursor: pointer;
}

#nav .open .bar {
    width: 24px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    transition: all 0.4s;
}

#nav .open .bar1 {
    top:13px;
    left: 10px;
}

#nav .open .bar2 {
    top: 50%;
    margin-top: -2px;
    left: 10px;
}

#nav .open .bar3 {
    bottom: 16px;
    left: 10px;
}

#nav .open.on .bar1 {
    top: 23px;
    left: 12px;
    width: 23px;
    transform: rotate(45deg);
}

#nav .open.on .bar2 {
    opacity: 0;
    transform: translateX(-30px);
}

#nav .open.on .bar3 {
    bottom: 25px;
    left: 12px;
    width: 23px;
    transform: rotate(-45deg);
}

#nav .openlist {
    position: fixed;
    top: 0;
    left: 85px;
    /* padding: 260px 0 40px 40px; */
    height: 100%;
    width: 0%;
    background-color: #fff;
    z-index: 998;
    transition: all 0.5s;
    font-size:20px; 
    border-left: 1px solid #dfdfdf;
    opacity: 0;
}

#nav .open.on + .openlist {
    left: 85px;
    width: 15%;
    border-right: 1px solid #dfdfdf;
    opacity: 1;
}

#nav .openlist ul li {
    color:#444;
    opacity: 0;
    transition: all 0.4s;
    line-height: 2em;
    padding-top: 5px;
}

#nav .open.on + .openlist ul li {
   opacity: 1;
}

#nav .openlist .list1 {
    padding: 260px 0 40px 40px; 
}

#nav .list1 > li {

    position: relative;

}






#nav .openlist .list2 li {
    font-size: 16px;
    line-height: 2.5em;
    color: #888;
    padding-top: 2px;
    font-family: 'Noto Sans KR', sans-serif;  
}

.openlist .login {
    padding: 50px 0 0 40px;
    opacity: 0;
    transition: all 0.4s;
}

.openlist .login li {
    font-size: 15px;
    padding-right: 15px;
    display: inline-block;
    font-weight: bold;
    position: relative; 
}

#nav .open.on + .openlist .login {
    opacity: 1;
}

.openlist .login li:first-child::after {
    content: '';
    width: 2px;
    height: 15px;
    position: absolute;
    top: 12px;
    left: 55px;
    background-color: #888;
}



/* 마이페이지 */
#mypage {
    position: fixed;
    bottom:35px;
    left:30px;
    z-index: 99;
}

#mypage li {
    font-size: 22px;
    color: #fff;
    margin-top: 20px;
}

#nav .open.on + #mypage li {
    color: "#555"
}


section {
    width: 100vw; 
    height: 100vh;
    position: relative;
}

/* footer */
footer {
    background: #222;
    color: #fff;
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: auto;
}

footer .infoBox {
    width: 1200px;
    margin: 0 auto;
    color: #acacac;
    font-size: 13px;
    overflow: hidden;
    padding: 60px 0;
    word-break: keep-all;
}

.infoBox .infoL {
    float: left;
    width: 50%;
}

.infoBox .infoR {
    float: left;
    width: 50%;
    padding-left: 40px;
}

footer .infoBox a {
    font-weight: bold;
    color: #fff;
    font-size: 14px;
}

footer .infoBox a:hover {
    text-decoration: underline;
}

.gotop {
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 999;
    opacity: 0;
    transition: all 0.5s;
}

.gotop.on {
    opacity: 1;
}